<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

<h2>Owner</h2>
<form th:object="${owner}" class="form-horizontal" id="add-owner-form" method="post"
      th:action="${owner['new']} ? '/owners/new' : '/owners/' + ${owner.id} + '/edit'">
    <div class="form-group has-feedback">
        <!-- Don't forget: as we disallow the web layer to set the id property, we don't even need a hidden form input with an id value when we want to update an existing owner -->

        <input
                th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'text')}" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <!--/*
                test if owner.isNew() returns true, basically test if it is a new or existing owner by checking if id is null
                this requires a method new(), getNew() or isNew() to be available in the OwnerDTO
            */-->
            <button th:with="text=${owner['new']} ? 'Add Owner' : 'Update Owner'"
                    class="btn btn-default" type="submit" th:text="${text}">Add Owner</button>
        </div>
    </div>
</form>
</body>
</html>